.Academic{
  background-image: url('./images/academic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding:10px 20px;
}

.academicHeader h2{
  font-size: 40px;
}

.academicContent{
  margin: 10px;
  padding-left: 20px;
	display: flex;
	justify-content: justify;
	flex-wrap: wrap;
	flex-direction: row;
}
.academicContent .academicBx{
	padding: 10px 20px;
	background: lightblue;
	color: black;
  margin: 20px;
  max-width: 600px;
	text-align: center;
	transition: 0.5s;
}
.academicContent .academicBx:hover{
	background: black;
  color: white;
}
.academicContent .academicBx img{
	max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
}
.academicContent .academicBx h3{
  font-size: 30px;
	font-weight: 500;
}
.academicContent .academicBx p{
  font-size: 25px;
  padding: 5px 10px;
  font-weight: 100;
}
.academicContent .academicBx:hover p{
  color: white;
}
