.Home{
  padding: 15px 10px;
  background-image: url('./images/bg.jpg');
  z-index: 1;
  max-height: 250px;
}

.table{
  margin-left: auto;
  margin-right: auto;
}

.image img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.para{
  background-color: rgba(0, 0, 255, 0);
}

.para p{
  color: white;
  padding-left: 40px;
}

.para p a{
  background-color: transparent;
  color: rgba(149, 57, 57, 0.566);
}

.para p a:hover{
  color: rgba(193, 66, 178, 0.628);
  scale: calc(1.20);
}
